<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.satis.example">

    <application
        android:name="com.satis.core.FrameworkApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Satis">
        <activity
            android:name=".viewmodel.TestActivity"
            android:exported="false" />
        <activity
            android:name=".viewmodel.SatisViewModelActivity"
            android:exported="false" />
        <activity
            android:name=".overscroll.CoordinatorActivity"
            android:exported="false" />
        <activity
            android:name=".overscroll.NestedScrollActivity"
            android:exported="false" />
        <activity
            android:name=".overscroll.OverScrollTestActivity"
            android:exported="false" />
        <activity
            android:name=".overscroll.OverScrollActivity"
            android:exported="true" />
        <activity
            android:name=".sliver.SliverActivity"
            android:exported="true" />
        <activity
            android:name=".sliver.BindingActivity"
            android:exported="false" />
        <activity
            android:name=".sliver.HeaderAndFootActivity"
            android:exported="false" />
        <activity
            android:name=".sliver.MultiTypeActivity"
            android:exported="false" />
        <activity
            android:name=".sliver.SingleTypeActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>